@import "src/styles";
.product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  padding: 5px;
  img{
    width: 100%;
  }
}

.qty {
  margin: 10px;
  width: 15%;
}

.addProduct button {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.addProduct {
  background-color: $color_primary !important;
}

.waiting {display: block; margin: 0 auto;}

@media only screen and (max-width: 768px) {
  /* For tablets: */
  .image {
    width: 100%;
    padding: 5px;
    img{
      width: 100%;
    }
  }

  .qty {
    margin: 10px;
    width: 25%;
  }

  .product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: auto;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
  }
}
