<h1 class="text-center mt-2">Carrito</h1>

<div class="container-fluid" *ngIf="cart.length > 0">
  <div class="row mb-3 product" *ngFor=" let c of cart; let i=index">
    <div class="col-2 col-md-2 col-sm-2 col-lg-2 image">
      <img src="{{c.image_url}}" alt="">
    </div>
    <div class="col-10 col-md-10 col-sm-10 col-lg-10">
      <h5>{{c.name}}</h5>
      <p class="price">{{(c.price / 1000) * c.qty | currency: 'EUR':'symbol'}}</p>
      <i class="fa fa-minus" (click)="updateValue(c, 0, $event)"></i> <input (keyup)="updateValue(c, 2, $event)" class="qty" value="{{c.qty}}"><i class="fa fa-plus" (click)="updateValue(c, 1, $event)"></i>
    </div>
  </div>
  <div class="row footer">
    <div class="col-12">
      <p class="addProduct">
        <button class="addProduct">Realizar pago {{totalToPay | currency: 'EUR':'symbol'}}</button>
      </p>
    </div>
  </div>
</div>


<div *ngIf="cart.length === 0" >
  <img class="waiting" src="assets/img/spinning-loading.gif" alt="">
  <p style="text-align: center">Añade productos</p>
</div>
