@import "../../../styles";

.navbar {
  background-color: $color_primary !important;
}
.nav-item:hover {
  background-color: rgba($color_text, 0.2);
  border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: $color_text_header !important;
}
