<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a><img style="width:40% !important" src="../../../assets/logo.png" title="movie-poster" alt="Poster movies"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/product/import" routerLinkActive="true" title="Importar productos"><i class="fas fa-save"></i> Importar productos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/"><i class="fas fa-home"></i> Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  routerLink="/product/favourite"><i class="fas fa-heart"></i> Favoritos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  routerLink="/cart"><i class="fas fa-shopping-cart"></i> Carrito</a>
      </li>
    </ul>

  </div>
</nav>
