@import "src/styles";
.product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.price {
  color: grey;
  font-size: 20px;
}

.image{
  width: 100%;
  padding: 5px;
  img{
    width: 60%;
  }
}

.description {
  width: 100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
}

.product button {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.product button:hover {
  opacity: 0.7;
}

.header {
  margin-top: 10px;
  text-align: left;
}

h5 {
  font-size: 18px;
}

.addProduct {
  background-color: $color_primary !important;
}

.red {
  color: red;
  text-shadow: 1px 1px 1px red;
  font-size: 20px;
}

.white {
  color: transparent;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 20px;
}

.loadMore {
  margin: 0 auto;
  display: flex;
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  background-color: $color_primary !important;
}
