<div class="container-fluid" *ngIf="productsTotal">

  <div class="row" style="cursor: pointer">
      <div class="product col-md-3 col-sm-12" *ngFor=" let product of productsTotal; let i=index">
        <div class="image">
          <img src="{{product.image_url == 'na' ? 'assets/img/spinning-loading.gif' : product.image_url }}" alt="">
        </div>

        <div class="row header">
          <div class="col-12">
            <h5>{{product.name}}</h5>
            <p class="description">{{product.description}}</p>
          </div>
        </div>

        <div class="row body">
          <div class="col-4">
            <p class="price">{{product.price / 1000 | currency: 'EUR':'symbol'}}</p>
          </div>
          <div class="col-6">
            <p class="price">{{product.stock}} stock </p>
          </div>
          <div class="col-2">
            <i (click)="addToFavourite(product)" class="fa fa-heart" title="Añadir a favorito" [ngClass]="product.favourite === true ? 'red' : 'white'"></i>
          </div>
        </div>

        <div class="row footer">
          <div class="col-12">
            <p>
              <button class="addProduct" (click)="addToCart(product)"><i class="fa fa-plus"></i> Añadir</button>
            </p>
          </div>
        </div>

      </div>
  </div>
  <div class="row footer" *ngIf="productsTotal.length > 0">
    <div class="col-12">
      <p>
        <button class="loadMore" (click)="loadMoreProducts()">Cargar más</button>
      </p>
    </div>
  </div>

</div>

<div *ngIf="productsTotal.length === 0">
  <img style="margin: 0 auto; display: block" src="assets/img/spinning-loading.gif" alt="">
</div>
